PORT=3000
HOST=localhost
MONGODB_USER=admin
MONGODB_PASSWORD=1234
MONGODB_DATABASE=user
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_AUTH_SOURCE=admin
JWT_ACCESS_TOKEN_SECRET=secret
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
POSTGRES_URL="postgresql://admin:123456@localhost:5432/guitar"
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_DB=guitar
PGADMIN_DEFAULT_EMAIL=test@gmail.com
PGADMIN_DEFAULT_PASSWORD=123456